.sidebarOption {
    display: flex;
    align-items: center;
    font-size: 10px;
    padding-left: 2px;
    cursor: pointer;
    overflow-y: scroll;
  }
  
  .sidebarOption:hover {
    opacity: 0.9;
    background-color: #340e36;
  }
  
  .sidebarOption__icon {
    padding: 10px;
    font-size: 15px !important;
  }
  
  .sidebarOption__channel {
    padding: 10px 0;
  }
  
  .sidebarOption__hash {
    padding: 10px;
  }
  
  .sidebarOption > h3 {
    font-weight: 500;
  }
  .sidebarOption__link{
    text-decoration: none;
    display: flex;
    color: white;
  }
  @media screen and (max-width: 480px) {
    .sidebarOption {
      display: flex;
      align-items: center;
      font-size: 7px;
      padding-left: 2px;
      cursor: pointer;
      overflow-y: scroll;
    }
  }
  